*{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.articleCV h2{font-size: 24px;color: rgb(0, 68, 124);}
.articleCV .detail{display: flex; flex-wrap: wrap;}
.articleCV .detail .texte{width: 45%;}
.articleCV .detail .image{width: 35%;}
.articleCV p{font-size: 16px;line-height: 1.45em;color: rgb(70, 70, 70);}
.articleCV .detail .image img{width:100%}


nav ul{list-style: none;display: flex;}
nav ul li{
    margin: 15px;
    transition: all 0.25s ease 0s;
    background-color: rgb(0, 68, 124);
    border-radius: 5px;}
nav ul li a{    
    display: block;
    text-decoration: none;
    color: #fff;
    
    padding: 15px;}

nav ul li:hover{    
    opacity: 0.5;    
    }    


footer{height: 20px;background-color: black;color: #fff;text-align: center;}    

